.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 0 auto;
}

.dcCard {
  border: 5px solid #0617fd;
  margin: 10px;

}

.marvelCard {
  border: 5px solid rgba(253, 6, 6, 0.928);
  margin: 10px;
}

