.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color: #fdd406;
}
.navbar h3 {
  color: #fff;
  display: flex;
}


.navbar input {
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
  height: 30px;
}

.navbar button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: aliceblue;
}