.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color: #fdd406;
}

.navbar img {
  height: 80px;
  width: 100px;
}

.navbar h3 {
  color: #fff;
  display: flex;
}


.links {
  display: flex;
}

.links a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #fdd406;
  color: #180808;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button[type="submit"]:hover {
  background-color: rgba(254, 240, 38, 0.381);
}

